# ===== Node.js / Next.js =====
bcommerce-client/node_modules/
bcommerce-client/.next/
bcommerce-client/.turbo/
bcommerce-client/.env
bcommerce-client/.env.local
bcommerce-client/.env.*.local
bcommerce-client/.vercel/
bcommerce-client/out/

# ===== .NET 8 =====
bcommerce-api/bin/
bcommerce-api/obj/
bcommerce-api/.vs/
bcommerce-api/.vscode/
bcommerce-api/*.user
bcommerce-api/*.suo
bcommerce-api/.env

# ===== Sistema operacional / Geral =====
*.DS_Store
Thumbs.db

# ===== IDEs / Editores =====
.vscode/
.idea/

# ===== Logs =====
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
