@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --text-title-primary: #2d2926;

  --color-black-primary: #2d2926;

  --color-yellow-primary: #fec857;

  --color-gray-primary: #777777;
  --color-gray-secondary: #4b5563;
  --color-gray-tertiary: #999999;

  --color-blue-primary: #4b5966;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --background-image-banner-home: url("/assets/banners/banner-1.png");
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.container {
  @apply mx-auto max-w-[1440px] px-6 py-3 lg:px-12;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

.AppBody {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.hide-horizontal-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-horizontal-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll; /* necessário para garantir que o scroll continue funcionando */
}
